nav{
    background-color: black;
    font-size: 1.2em;
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    opacity: 0.85;

}

.nav-link{
    color: inherit;
    text-decoration: none;
}


.nav-link:hover{
    color: rgb(130, 129, 129);
}

@media (max-width:460px){
    .nav{
       font-size: 0.7em;
    }
}