:root{
    --body-color: #eee8e3;  
    --title-font: 'Mouse Memoirs', sans-serif;
    --main-font:'League Spartan', sans-serif;
    --secondary-font : 'Pacifico', cursive;
    }

body{
    background-color: var(--body-color);
    background-size: cover;

}

.presentation{
    background-image: url("fond.jpg");
    /* background-size: cover; */
    opacity: 0.9;
    height: 100px;
    padding-left: 50px;
}

typical{
  color: rgb(237, 52, 52);
  font-size: 2.5em;
    margin-top: 180px
}
@media (max-height: 1024px){
    .presentation{
    text-align: center;    
    height: 650px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    
    }
}



@media (min-height: 1025px){
    .presentation{
        text-align: center;    
        height: 900px;
        display: flex;
        align-items:center ;
        justify-content: center;
        flex-direction: column;
    }
}
h1{
    color: rgb(82, 82, 82);
    font-size: 2.5em;
    margin-top: 180px;
}

.date{
  font-size: 2.2em;
  font-family: var(--title-font);
  color: rgb(246, 240, 240);
}

@media (max-width:480px){
  h1{
    color: rgb(221, 217, 240)
  }
  .date{
  color: rgb(221, 217, 240)
}
}

/* *******************************logo************************* */
.wrapper {
    width: 20%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
  }
  
  .wrapper .icon {
    position: relative;
    background: #a9aebc;
    border-radius: 50%;
    padding: 10px;
    margin: 15px;
    width: 35px;
    height: 35px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkendin:hover,
.wrapper .linkendin:hover .tooltip,
.wrapper .linkendin:hover .tooltip::before {
  background: rgb(10, 102, 194);
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: black;
  color: #ffffff;
}


/* *******************************logo************************* */


header{
    background-color: #bd5353;
    text-align: center;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-between;
    font-size: 1.1em;
    padding: 0% 1%;
}

@media (max-width:620px){
  header{
    display: block;
    height: 180px;
  }
}


.title{
    font-size: 2em;
    margin: 0% 0% 1% 4%;
    font-family: var(--title-font)
}

h3{
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    font-family: var(--main-font)*
}




