.history{
    width: fit-content;
    background-color: rgb(254, 241, 232);
    padding: 30px;
}

p{
    font-size: 1.5em;
    text-indent: 2em;
    padding: 30px 150px ;
    font-family: var(--main-font)
}

.title-content{
    font-family: var(--secondary-font);
    color: black;
    text-align: center;
}