


.footer-top{
background-color: rgb(128, 121, 121);
height: 60px;
width: 100%;
display:flex ;
align-items:center ;
justify-content: center;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);


}

.footer-top:hover{
    background: rgb(225, 241, 241);
}

.buttoon-up{
    display:flex ;
    align-items:center ;
    justify-content: center;
    height: 40px;
    width: 70px;
    cursor: pointer;
}
.footer-bottom{
    background-color: rgb(214, 179, 158);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 60px;
    flex-direction: column;
    padding-top: 40px;
}

.github{
    width : 40px;
    height : 40px;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: rgb(84, 90, 95);
  color: #ffffff;
}

.title-footer{
    font-size: 1em;
    display: flex;
    margin: 0px;
    padding: 0;
}